---
---
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.in-progress-decor header {
    position: relative;
}
.in-progress-decor header::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-image: url('/assets/img/in-progress.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    pointer-events: none;
    z-index: 0;
    opacity: 0.8;
}

.parisienne-400 {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
}
