---
---
@tailwind base;
@tailwind components;
@tailwind utilities;

body.photo-bg::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url({{ '/assets/img/Together2025-09-12.webp' | relative_url }});
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    z-index: -1;
    pointer-events: none;
    transition: background-position 0.3s linear;
}

.work-sans-100 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.in-progress-decor header {
    position: relative;
}
.in-progress-decor header::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-image: url({{ '/assets/img/in-progress.webp' | relative_url }});
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    pointer-events: none;
    z-index: 0;
    opacity: 0.8;
    @apply m-4;
}

.chapter {
    @apply min-h-screen flex flex-col justify-center;
}

.section {
    @apply m-20 p-4 bg-black/80 rounded-lg shadow-lg;
}

.title1 {
    @apply text-5xl my-6 text-left;
}

.title2 {
    @apply text-4xl my-4 text-left;
}
