# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.

title: "Choeur Together"
description: "Partager l'amour de Jésus à travers le chant, parce que chaque personne compte."
url: "https://www.choeur-together.ch" # the base hostname & protocol for your site, e.g. http://example.com
baseurl: "/next" # the subpath of your site, e.g. /blog

# Build settings
markdown: kramdown
plugins:
  - jekyll-feed

# Collections for organizing pages
collections:
  pages:
    output: true
    permalink: /:name/

defaults:
  - scope:
      path: "_pages"
      type: "pages"
    values:
      layout: "default"

# Exclude from processing.
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - Dockerfile
  - Makefile
  - .dockerignore
  - .editorconfig
  - .markdownlint.json
  - .prettierignore
  - .vscode/
  - README.md
