<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title | default: site.title }}</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ '/favicon.ico' | relative_url }}"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ '/favicon.ico' | relative_url }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css' | relative_url }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script>
      // Animate background position horizontally on scroll
      document.addEventListener("DOMContentLoaded", () => {
        const body = document.body;
        if (body.classList.contains("photo-bg")) {
          body.classList.add("scrolling-bg");
          window.addEventListener("scroll", () => {
            const scrollPercent =
              window.scrollY /
              (document.body.scrollHeight - window.innerHeight);
            // Move from left (0%) to right (100%)
            const xPos = Math.round(scrollPercent * 100);
            body.style.backgroundPosition = `${xPos}% top`;
          });
        }
      });
    </script>
  </head>

  <body
    class="in-progress-decor work-sans-100 bg-gray-100 text-sm sm:text-base photo-bg"
  >
    <header></header>
    <main class="flex flex-col items-center text-white">
      <h1 class="section text-5xl lg:text-7xl sm:mt-48 lg:mt-40 text-center">
        C&nbsp;H&nbsp;O&nbsp;E&nbsp;U&nbsp;R&nbsp;
        &nbsp;T&nbsp;O&nbsp;G&nbsp;E&nbsp;T&nbsp;H&nbsp;E&nbsp;R
      </h1>
      <div class="text-xl text-justify">{{ content }}</div>
      <div class="text-xl">
        <div class="section text-center">
          &laquo; {{ site.description }} &raquo; <br />
          Ouest-Lausannois • {{ site.time | date: "%Y" }}
        </div>
      </div>
    </main>
  </body>
</html>
